#galeriaFotos {
    display: grid;
    grid-template-columns: auto auto auto;
    height: inherit;
}

.imagenes {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
    display: block;
}

#principal {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
}

#ciudad {
	margin-left: 10%;
}
