<aside class="borde" id="navegacionLateral">
    <ul id="listaLateral">
    	{% for elemento in navegacionLateral %}
    		<li class="elementoLateral">{{ elemento }}</li>
    	{% endfor %}
    	<li class="elementoLateral"><a href="evento.php">Evento</a></li>
    </ul>
</aside>
