{% extends 'cabecera.html' %}

{% block navegacionSuperior %}
	{% for nav in navegacionSuperior %}
	    <li class="elementoMenu">{{ nav }}</li>
    {% endfor %}
    <li class="elementoMenu"><a href="principal.html">Principal</a></li>
{% endblock %}
