<!DOCTYPE html>
<html>
    <head>
        <title>Viajes</title>
        <link rel="stylesheet" href="templates/css/comun.css"/>
        {% block css %}{% endblock %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <header class="borde" id="cabecera">
            <a href="/SIBW"><img id="imagenAvion" src="templates/img/avion.jpg" alt="Logotipo de la agencia de viajes"/></a>
            <h1 id="cabeceraPrincipal">Viajes</h1>
            <nav>
                <ul id="menuCabecera">
                    {% for nav in navegacionSuperior %}
                        <li class="elementoMenu"><a href="{{ nav.get_enlace() }}">{{ nav.get_titulo() }}</a></li>
                    {% endfor %}
                    
                    {% if (usuario) and (usuario['tipoUsuario'] == 'moderador' or usuario['tipoUsuario'] == 'superusuario') %}
                    	<li><a class="elementoMenu" href="./mostrarTodosLosComentarios.php">Mostrar todos los comentarios</a></li>
                    {% endif %}
                    
                    {% if (usuario) and (usuario['tipoUsuario'] == 'gestor' or usuario['tipoUsuario'] == 'superusuario') %}
                    	<li><a class="elementoMenu" href="./mostrarTodosLosEventos.php">Mostrar todos los eventos</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <section id="principal">
            <aside class="borde" id="navegacionLateral">
            <nav>
                <ul id="listaLateral" class="flex-container flex-direction-column">
                	<li class="elementMenu"><a href="./buscarEvento.php">Buscar evento</a></li>
                    {% for elemento in navegacionLateral %}
                        <li class="elementoMenu"><a href="{{ elemento.get_enlace() }}">{{ elemento.get_titulo() }}</a></li>
                    {% endfor %}
                    
                    {% if (usuario) and (usuario.tipoUsuario == 'moderador' or usuario['tipoUsuario'] == 'superusuario') %}
                    	<li class="elementMenu"><a href="./buscarComentario.php">Buscar comentario</a></li>
                    {% endif %}
                    
                    {% if (usuario) and (usuario.tipoUsuario == 'gestor' or usuario['tipoUsuario'] == 'superusuario')  %}
                    	<li class="elementMenu"><a href="./eliminarPalabraClave.php">Eliminar etiqueta</a></li>
                    	<li class="elementMenu"><a href="./addPalabraClave.php">Añadir etiqueta</a></li>
                    	<li class="elementMenu"><a href="./addEvento.php">Añadir evento</a></li>
                    	<li class="elementMenu"><a href="./editarEvento.php">Editar evento</a></li>
                    	<li class="elementMenu"><a href="./eliminarFotografiaEvento.php">Eliminar fotografía evento</a></li>
                    	<li class="elementMenu"><a href="./addFotografiaEvento.php">Añadir fotografia evento</a></li>
                    	<li class="elementMenu"><a href="./modificarPublicadoEvento.php">Modificar publicado de evento</a></li>
                    {% endif %}
                    
                    {% if usuario and usuario.tipoUsuario == 'superusuario' %}
                    	<li class="elementMenu"><a href="./modificarRoles.php">Modificar roles</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div id="datosSesion">
            	{% if not usuario %}
				    <section id="login">
				      <form action="./autenticarUsuario.php" method="POST">
				        <div class="flex-container flex-direction-column">
				          <label for="user">Usuario</label>
				          <input type="text" name="user" placeholder="Introduce tu Usuario" name="user" required>

				          <label for="pass">Contraseña</label>
				          <input type="password" name="passwd" placeholder="Introduce tu Contraseña" name="pass" required>
				              
				          <button type="submit">Login</button>
				        </div>
				      </form>
				    </section>
		        {% else %}
				    <section id="loged">
				      <section id="loged-nombre-usuario">
				        <p>{{ usuario['user'] }}</p>
				      </section>
				      <section id="loged-tipo-usuario">
				        <p>Administrador</p>
				      </section>
				      <section id="loged-botones" class="flex-container justify-content-space-around">
				        <section id="loged-botones-editar">
				          <button onclick="window.open('/editarUsuario.php');">Editar</button>
				        </section>
				        <section id="loged-botones-logout">
				          <button onclick="window.open('/cerrarSesion.php');">Logout</button>
				        </section>
				      </section>
			        </section>
	            {% endif %}
            </div>
        </aside>
            {% block main %}{% endblock %}            
        </section>
        <footer class="borde">
            <div id="pie">&copy; 2019 SIBW</div>
        </footer>
        {% block javaScript %}{% endblock %} 
    </body>
</html>
