{% extends "templates/html/base.html" %}
{% block css %}
        <link rel="stylesheet" href="templates/css/principal.css"/>
{% endblock %}
{% block main %}
	<main class="borde">
		<form style="margin: 5%;" action="./editarEvento.php" method="post">
			Id del viaje <input type="text" value="{{ event.id }}" name="id" readonly>
			Ciudad <input type="text" name="ciudad">
			Fecha <input type="date" name="fecha">
			Fecha publicación <input type="date" name="fechaPublicacion">
			Fecha modificación <input type="date" name="fechaModificacion"></br>
			Texto <input type="text" name="texto">
			Palabras clave <input type="text" name="palabrasClaves">
			Imagenes <input type="text" name="imagenes">
			Videos <input type="text" name="videos">
			<input type="submit" value="Enviar">
		</form>
	</main>
{% endblock %}
