{% extends "templates/html/base.html" %}
{% block css %}
        <link rel="stylesheet" href="templates/css/principal.css"/>
{% endblock %}
{% block main %}
            <main class="borde" id="conjuntoEventos">
            {% for event in eventos %}
		        <div id="evento">
		        	<a href="{{ event['href'] }}">
		        		<img class="imagenes" src={{ event['imagenFuente'] }} alt="Viaje hacia {{ event['ciudad'] }}"/>
		        		<p class="ciudad">{{ event.ciudad }}</p>
		        	</a>
		        	{% if usuario and usuario.tipoUsuario == 'gestor' %}
		    			<button onclick="window.open('http://localhost:8080/editarEvento.php?id={{ event.id }}')" type="button">Editar</button>
		    			<button onclick="window.open('http://localhost:8080/eliminarEvento.php?id={{ event.id }}')" type="button">Eliminar</button>
		    		{% endif %}
		        </div>
            {% endfor %}
            </main>
{% endblock %}
