#imagenAvion {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    float: left;
    padding: 30px;
}

#pie {
    margin-top: 10px;
    text-align: center;
    overflow: auto;
}

.borde {
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 30px;
}

#cabecera {
    height: 250px;
    background-image: linear-gradient(to bottom right, red, yellow);
}

#menuCabecera {
    list-style-type: none;
}

.elementoMenu {
    float: left;
    padding: 10px;
}

#cabeceraPrincipal {
    padding: 10px;
}

#navegacionLateral {
    list-style-type: none;
    height: inherit;
    margin-right: 10px;
}

#listaLateral {
    list-style-type: none;
}