.flex-container {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.flex-direction-row {
    flex-direction: row;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}

.justify-content-flex-start{
    justify-content: flex-start;
}

.justify-content-center{
    justify-content: center;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.justify-content-flex-start{
    justify-content: flex-start;
}
.justify-content-space-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center; 
}
.align-items-flex-start{
    align-items: flex-start; 
}
.align-items-flex-end{
    align-items: flex-end; 
}
.align-items-stretch{
    align-items: stretch;
}

#imagenAvion {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    float: left;
    padding: 30px;
}

#pie {
    margin-top: 10px;
    text-align: center;
    overflow: auto;
}

.borde {
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 30px;
}

#cabecera {
    height: 250px;
    background-image: linear-gradient(to bottom right, red, yellow);
}

#menuCabecera {
    list-style-type: none;
}

.elementoMenu {
    float: left;
    padding: 10px;
}

#cabeceraPrincipal {
    padding: 10px;
}

#navegacionLateral {
    list-style-type: none;
    height: inherit;
    margin-right: 10px;
}

#listaLateral {
    list-style-type: none;
}


/* loging */
#login input[type=text], input[type=password] {
  width: 100%;
  /*padding: 0.2em 1em;
  margin: 0.5em 0;*/
  margin-bottom: 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login button {
  background-color: #4CAF50;
  color: white;
  /*padding: 0.5em 1em;
  margin: 0.5em 0;*/
  border: none;
  cursor: pointer;
  width: 100%;
}

#login button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

#login .container {
  padding: 1em;
}

#login span.pass {
  float: right;
  padding-top: 1em;
}

#login label {
  font-weight: bold;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  #login span.pass {
     display: block;
     float: none;
  }
  #login .cancelbtn {
     width: 100%;
  }
}

/* Loged */
#loged-nombre-usuario > p{
    font-weight: bold;
}

#loged-tipo-usuario > p{
    color: blue; 
}

#loged-botones {
    margin-top: 1em; 
}